Repository rancher/fleet-e2e, pull requests merged in 2024-02, with the labels that each got.

#16 Add status badges to the README file.
  README.md
Labels: fleet-e2e-ci

#31 [REVERT_IF_FAILED] Fixes CI failure
  .github/workflows/master-e2e.yaml
  .github/workflows/ui-rm_head_2.9.yaml
Labels: fleet-e2e-ci

#32 Update cron time
  .github/workflows/ui-rm_head_2.9.yaml
Labels: fleet-e2e-ci

#34 Fixed the required field: upstream_cluster_version
  .github/workflows/master-e2e.yaml
  .github/workflows/ui-rm_head_2.9.yaml
Labels: fleet-e2e-ci

#35 Revert few changes and add new improvments
  .github/workflows/ui-rm_head_2.7.yaml
  .github/workflows/ui-rm_head_2.8.yaml
  .github/workflows/ui-rm_head_2.9.yaml
Labels: fleet-e2e-ci

#38 Re-added environment variables and CI-jobs params
  .github/workflows/master-e2e.yaml
  .github/workflows/ui-rm_head_2.9.yaml
Labels: fleet-e2e-ci

#39 Restoring all changes made by sbulage.
  .github/workflows/master-e2e.yaml
  .github/workflows/ui-rm_head_2.7.yaml
  .github/workflows/ui-rm_head_2.8.yaml
  .github/workflows/ui-rm_head_2.9.yaml
Labels: fleet-e2e-ci

#40 Temporarily disabling crons until correcct k8s version is passed on a…
  .github/workflows/ui-rm_head_2.7.yaml
  .github/workflows/ui-rm_head_2.8.yaml
  .github/workflows/ui-rm_head_2.9.yaml
Labels: fleet-e2e-ci

#23 Fleet qa/62 deploy app cluster
  .github/workflows/master-e2e.yaml
  tests/cypress/cypress.config.ts
  tests/cypress/e2e/unit_tests/menu.spec.ts
  tests/cypress/e2e/unit_tests/p0_fleet.spec.ts
  tests/cypress/support/commands.ts
Labels: fleet-e2e-ci, automation

#41 adding test triggering prior pushing to main
  .github/workflows/ui-rm_head_2.7.yaml
  .github/workflows/ui-rm_head_2.8.yaml
  .github/workflows/ui-rm_head_2.9.yaml
Labels: fleet-e2e-ci

#42 Hardcoded values for runs scheduled by cron
  .github/workflows/master-e2e.yaml
  .github/workflows/ui-rm_head_2.7.yaml
  .github/workflows/ui-rm_head_2.8.yaml
  .github/workflows/ui-rm_head_2.9.yaml
  tests/e2e/suite_test.go
  tests/scripts/start-cypress-tests
Labels: fleet-e2e-ci

#46 Fleet qa/update cypress
  .github/workflows/master-e2e.yaml
  tests/cypress/cypress.config.ts
  tests/cypress/package.json
  tests/cypress/support/commands.ts
  tests/cypress/support/e2e.ts
Labels: automation

#45 Allow rancher version as `2.8.2[-rc3]` or `devel/2.7`
  .github/workflows/ui-rm_head_2.7.yaml
  .github/workflows/ui-rm_head_2.8.yaml
  .github/workflows/ui-rm_head_2.9.yaml
  tests/e2e/suite_test.go
Labels: fleet-e2e-ci

#52 Switch geo zone to US
  .github/workflows/master-e2e.yaml
Labels: fleet-e2e-ci

#50 Remove repetitive test cases
  .github/workflows/master-e2e.yaml
  tests/cypress/e2e/unit_tests/first_login_rancher.spec.ts
  tests/cypress/e2e/unit_tests/menu.spec.ts
  tests/cypress/e2e/unit_tests/user.spec.ts
Labels: automation

#57 Move CheckPod for fleet call after deploying rancher
  tests/e2e/install_test.go
Labels: fleet-e2e-ci, automation

#54 Fleet qa/test private repos http way
  .github/workflows/master-e2e.yaml
  .github/workflows/ui-rm_head_2.7.yaml
  .github/workflows/ui-rm_head_2.8.yaml
  .github/workflows/ui-rm_head_2.9.yaml
  tests/cypress/e2e/unit_tests/p0_fleet.spec.ts
  tests/cypress/plugins/index.ts
  tests/cypress/support/commands.ts
  tests/cypress/support/e2e.ts
  tests/scripts/start-cypress-tests
Labels: automation

#56 Create an extra WF for PR CI runs only and do not push to QASE
  .github/workflows/master-e2e.yaml
  .github/workflows/ui-pr_rm_head_2.8.yaml
  .github/workflows/ui-rm_head_2.8.yaml
Labels: fleet-e2e-ci

#61 Implementing Bitbucket private repo test
  .github/workflows/master-e2e.yaml
  .github/workflows/ui-pr_rm_head_2.8.yaml
  .github/workflows/ui-rm_head_2.7.yaml
  .github/workflows/ui-rm_head_2.8.yaml
  .github/workflows/ui-rm_head_2.9.yaml
  tests/cypress/e2e/unit_tests/p0_fleet.spec.ts
  tests/cypress/plugins/index.ts
  tests/scripts/start-cypress-tests
Labels: automation
